<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bet Shalom</title>

    <!--<link rel="icon" type="image/png" href="" />-->

    <link rel="stylesheet" href="/styles/bootstrap.css" />
    <link rel="stylesheet" href="/styles/stylesheet.css" />

    <script type="text/javascript" src="/vendors/angular.js"></script>
    <script type="text/javascript" src="/vendors/angular-animate.js"></script>
    <script type="text/javascript" src="/vendors/angular-route.js"></script>
    <script type="text/javascript" src="/vendors/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/controllers/homeController.js"></script>
</head>
<body ng-app="myApp">
    <div class="instructions">
        <div class="container">
            <h1 class="lead">Register New User</h1>
        </div>
    </div>

    <div class="container">
        <!-- Set action and method -->
        <form action="/register" method="post">
            <div>
                <label for="username">Username:</label>
                <input type="text" name="username" id="username">
            </div>

            <div>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password">
            </div>

            <input type="submit" value="Register"/>
        </form>
    </div>
</body>
</html>