<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bet Shalom</title>

    <!--<link rel="icon" type="image/png" href="" />-->

    <link rel="stylesheet" href="/styles/bootstrap.css" />
    <link rel="stylesheet" href="/styles/stylesheet.css" />

    <script type="text/javascript" src="/vendors/angular.js"></script>
    <script type="text/javascript" src="/vendors/angular-animate.js"></script>
    <script type="text/javascript" src="/vendors/angular-route.js"></script>
    <script type="text/javascript" src="/vendors/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/controllers/homeController.js"></script>
</head>
<body ng-app="myApp">
    <div class="instructions" ng-controller="HomeController">
        <div class="container">
            <h1 id="welcome" class="lead">Welcome, {{userName}}!</h1>
        </div>
    </div>
</body>
</html>