<div class="instructions">
    <div class="container">
        <h1 class="lead">Passport Login</h1>
    </div>
</div>
<div class="container">
    <!-- Set form action and method -->
    <form action="/" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username"/>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password"/>
        </div>
        <div>
            <input type="submit" value="Log In"/>
            <a href="/register">Register</a>
        </div>
    </form>
</div>