<!-- Explore tag options -->


<form id="lesson_plan_form">
  <!--div containing the radio buttons for the admin to choose a resource or lesson; only viewable as admin-->
  <div class="resource_lesson_radio" ng-if="adminEditState">
    <label for="lesson_plan">Lesson Plan</label>
    <input type="radio" name="type_selector" ng-model="$parent.type_selector" value="lesson_plan">
    <label for="resource">Resource</label>
    <input type="radio" name="type_selector" ng-model="$parent.type_selector" value="resource">
    <!--<textarea id="a_comment" rows="3" cols="100" ng-model="kitty" placeholder="enter comment"></textarea>-->
  </div>

  <label for="lesson_author">Author:</label>
  <input type="text" id="lesson_author" ng-model="lesson_author" />
  <label for="lesson_title">Title:</label>
  <input type="text" id="lesson_title" ng-model="lesson_title" />

  <!--The three dropdowns for testing-->
  <div>
  <select ng-model="selectedTag" ng-options="tag as tag.tag_name for tag in tags">
    <option value="">Select a Tag</option>
  </select>
  </div>
  <div>
    <select ng-model="selectedTagg" ng-options="tag as tag.tag_name for tag in moreTags">
      <option value="">Select a Tag</option>
    </select>
  </div>
  <div>
    <select ng-model="selectedTaggg" ng-options="tag as tag.tag_name for tag in evenMoreTags">
      <option value="">Select a Tag</option>
    </select>
  </div>
  <!--The three dropdowns for testing-->


  <div>
    <button ng-click="addSelectedTag()">Add Tag</button>
    <div id="added_tag_container"></div>
  </div>

  <!--div containing the materials checkbox and text entry-->
  <div class="materials_div">
    <label for="lesson_materials_checkbox">Materials required?</label>
    <input type="checkbox" ng-model="required_materials" ng-init="checked=true" />
    <label for="lesson_materials" ng-show="required_materials">Materials:</label>
    <textarea id="lesson_materials" rows="3" cols="100" ng-model="lesson_materials" ng-show="required_materials"></textarea>
  </div>

  <label for="lesson_text">Lesson text:</label>
  <textarea id="lesson_text" rows="20" cols="100" ng-model="lesson_text"></textarea>

  <!--div containing the buttons shown only on the enter lesson plan view for the teacher-->
  <div class="teacher_buttons_div" ng-if="teacherEditState">
    <button class="insert_file_button">Insert File</button>
    <button class="save_draft_button" ng-click="saveLessonDraft()">Save Draft</button>
    <button id="submit_lesson_button" ng-click="submitOrPublishLesson()">Submit Lesson</button>
  </div>

  <!--div containing the button that can add a lesson to favorites: shown only on the viewable non-editable view for the -->
  <!--teacher-->
  <div class="favorites_button" ng-if="searchState">
    <button id="add-favorite">Add to Favorites</button>
  </div>
</form>

<!--buttons and admin comment input shown only the admin edit view-->
<div>
  <form id="admin_comment_form" ng-if="adminEditState">
    <textarea id="admin_comment" rows="3" cols="100" ng-model="$parent.admin_comment" placeholder="enter comment"></textarea>
    <button class="insert_file_button">Insert File</button>
    <button class="save_draft_button" ng-click="saveLessonDraft()">Save Draft</button>
    <button id="needs_review" ng-click="needsReview()">Needs Review</button>
    <button id="publish_button" ng-click="submitOrPublishLesson()">Publish Lesson</button>
    <button id="remove_lesson" ng-click="removeLesson()">Remove Lesson</button>
  </form>
</div>

<!--comment section shown only on the viewable non-editable view coming from the search page-->
<form id="comments_form" ng-if="searchState">
  <textarea class="comment_text" rows="3" cols="100" placeholder="enter comment" ng-model="comment"></textarea>
  <button id="submit_comment">Submit Comment</button>
</form>

<!--div that shows all the comments for the lesson-->
<div id="posted_comments" >

</div>




<!--code for a possible modal-->

<!--<div class="tag_modal" ng-if="!search">-->
<!--<button ng-click="open()">Choose Tags</button>-->
<!--</div>-->


<!--<script type="text/ng-template" id="myModalContent.html">-->
  <!--<h1>Something that appears!</h1>-->
  <!--<div class="modal-header">-->
    <!--<h3 class="modal-title">I'm a modal!</h3>-->
  <!--</div>-->

  <!--<div ng-repeat="holiday in holidays">-->
    <!--<label>{{holiday}}</label>-->
    <!--​-->
    <!--<input type="checkbox"  />-->
  <!--</div>-->
  <!--​-->
  <!--<div class="modal-footer">-->
    <!--<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>-->
    <!--<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>-->
  <!--</div>-->
<!--</script>-->