<!-- Explore tag options -->

<form id="lesson_plan_form">
  <div class="resource_lesson_radio" ng-if="admin">
    <label for="lesson_plan">Lesson Plan</label>
    <input type="radio" name="type_selector" ng-model="type_selector" value="lesson_plan">
    <label for="resource">Resource</label>
    <input type="radio" name="type_selector" ng-model="type_selector" value="resource">
  </div>

  <label for="lesson_author">Author:</label>
  <input type="text" id="lesson_author" ng-model="lesson_author" />
  <label for="lesson_title">Title:</label>
  <input type="text" id="lesson_title" ng-model="lesson_title" />

  <div class="tag_modal" ng-if="!search">
    <button ng-click="open()">Choose Tags</button>
  </div>

  <script type="text/ng-template" id="myModalContent.html">
    <h1>Something that appears!</h1>
    <div class="modal-header">
      <h3 class="modal-title">I'm a modal!</h3>
    </div>

    <div ng-repeat="holiday in holidays">
      <label>{{holiday}}</label>
      ​
      <input type="checkbox"  />
    </div>
    ​
    <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
      <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
  </script>

  <div class="materials_div">
    <label for="lesson_materials_checkbox">Materials required?</label>
    <input type="checkbox" ng-model="required_materials" ng-init="checked=true" />
    <label for="lesson_materials" ng-show="required_materials">Materials:</label>
    <textarea id="lesson_materials" rows="3" cols="100" ng-model="lesson_materials" ng-show="required_materials"></textarea>
  </div>

  <label for="lesson_text">Lesson text:</label>
  <textarea id="lesson_text" rows="20" cols="100" ng-model="lesson_text"></textarea>

  <div class="teacher_buttons_div" ng-if="teacher">
    <button class="insert_file_button">Insert File</button>
    <button class="save_draft_button">Save Draft</button>
    <button id="submit_lesson_button" ng-click="submitLesson()">Submit Lesson</button>
  </div>

  <div class="favorites_button" ng-if="search">
    <button id="add-favorite">Add to Favorites</button>
  </div>
</form>

<form id="admin_comment_form" ng-if="admin">
  <textarea class="comment_text" rows="3" cols="100" placeholder="enter comment" ng-model="comment"></textarea>
  <button class="insert_file_button">Insert File</button>
  <button class="save_draft_button">Save Draft</button>
  <button id="needs_review">Insert File</button>
  <button id="publish_button">Publish Lesson</button>
  <button id="archive">Archive Lesson</button>
  <button id="remove_lesson">Remove Lesson</button>
</form>

<form id="comments_form" ng-if="search">
  <textarea class="comment_text" rows="3" cols="100" placeholder="enter comment" ng-model="comment"></textarea>
  <button id="submit_comment">Submit Comment</button>
</form>
