<!-- Explore tag options -->
<div class="container lesson-plan-container">
  <div class="row">
    <div class="col-md-6" ng-if="adminEditState">
      <div class="radio"><label for="lesson_plan"><input type="radio" name="type_selector" ng-model="$parent.type_selector" value="lesson_plan" ng-disabled="statusToCheckIfPublished" class="resource_lesson_radio" id="lesson_plan">Lesson Plan</label></div>
      <div class="radio"><label for="resource"><input type="radio" class="resource_lesson_radio" name="type_selector" ng-model="$parent.type_selector" value="resource" ng-disabled="statusToCheckIfPublished" id="resource">Resource</label></div>
    </div>
    <div class="col-md-6">
      <!--<div class="starr" ng-show="myFav.favorite_status" ng-click="addFav()"><i class="fa yellow fa-star"></i></div>-->
      <!--<div class="starr" ng-hide="myFav.favorite_status" ng-click="addFav()"><i class="fa fa-star-o"></i></div>-->
    </div>
  </div>

  <!--<div class="row">-->
    <!--<div class="col-md-12">-->
      <!--<div class="starr" ng-show="myFav.favorite_status" ng-click="addFav()"><i class="fa yellow fa-star"></i></div>-->
      <!--<div class="starr" ng-hide="myFav.favorite_status" ng-click="addFav()"><i class="fa fa-star-o"></i></div>-->
    <!--</div>-->
  <!--</div>-->

  <div class="row">
    <div class="col-md-6">
      <div class="form-group"><input type="text" class="form-control" id="lesson_title" placeholder="Enter Title" ng-model="$parent.lesson_title" ng-if="!statusToCheckIfPublished" /></div>
      <div class="form-group" ng-if="statusToCheckIfPublished"><span class="lesson_title_displayed">{{lesson_title}}</span><span class="starr" ng-show="myFav.favorite_status" ng-click="addFav()"><i class="fa big blue fa-star"></i></span><span class="starr" ng-hide="myFav.favorite_status" ng-click="addFav()"><i class="fa big fa-star-o"></i></span></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div><label for="lesson_author">Author: </label><span id="lesson_author"> {{lesson_author}}</span></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div><label>Add Tags:</label><tags-input ng-model="selectedTag"
                       display-property="tag_name"
                       placeholder="Arrow Down To See Complete List"
                       replace-spaces-with-dashes="false"
                       on-tag-added="tagAdded($tag)"
                       on-tag-removed="tagRemoved($tag)"
                       add-on-enter="false"
                       template="tag-template"
                       ng-disabled="statusToCheckIfPublished">
        <auto-complete source="loadTags($query)"
                       min-length="0"
                       debounce-delay="100"
                       load-on-down-arrow="true"
                       load-on-focus="true"
                       load-on-empty="false"
                       max-results-to-show="45"
                       template="autocomplete-template"></auto-complete>
      </tags-input>

        <script type="text/ng-template" id="tag-template">
          <div class="tag-template">
            <div class="right-panel">
              <span ng-model="selectedTag">{{$getDisplayText()}}</span>
              <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
            </div>
          </div>
        </script>

        <script type="text/ng-template" id="autocomplete-template">
          <div class="autocomplete-template">
            <div class="right-panel">
              <span ng-bind-html="$highlight($getDisplayText())"></span>
              <span>ID: {{data.tag_id}}, </span>
              <span>Category: {{data.tag_category}}</span>
            </div>
          </div>
        </script></div>
    </div>

    <div class="col-md-5 col-md-offset-1">
      <div><label for="lesson_materials_checkbox">Materials required?</label> <input type="checkbox" class="materials_checkbox" ng-model="required_materials" ng-change="toggleMaterialsRequirement(required_materials)" ng-disabled="statusToCheckIfPublished" /><textarea class="form-control lesson-materials-textarea" id="lesson_materials" ng-class="{'no_gray': statusToCheckIfPublished}" rows="2" cols="130" ng-model="lesson_materials" ng-disabled="!required_materials||statusToCheckIfPublished" placeholder="{{requiredMaterialsPlaceholder}}"></textarea></div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group"><label for="lesson_text">Lesson text:</label><textarea id="lesson_text" class="form-control" ng-class="{'no_gray': statusToCheckIfPublished}" rows="20" cols="100" ng-model="lesson_text" ng-disabled="statusToCheckIfPublished" placeholder="Create Your Lesson Plan"></textarea></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div id="display_comments" ng-repeat="comments in saved_comments">
        <!-- Area to display comments -->
        <table class="table table-striped">
          <thead><tr><th>{{comments.author}} {{comments.date_stamp | date}}</th></tr></thead>
          <tbody><tr><td class="comments-table">{{comments.comment}}</td></tr></tbody>
        </table>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group" ng-if="commentForm">
          <label for="used_lesson_checkbox"><span ng-if="teacherEditState">Use Lesson Plan:</span> <span ng-if="adminEditState">Add Comment:</span> </label>
          <input type="checkbox" id="used_lesson_checkbox" ng-model="$parent.lessonPlanUsed" ng-change="usedLessonPlanToggle(lessonPlanUsed)" />
          <textarea class="form-control" id="comment" rows="3" cols="100" ng-model="$parent.comment" placeholder="Add Comments" ng-disabled="!lessonPlanUsed"></textarea>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div ng-if="commentForm"><span ng-if="teacherEditState"><button class="btn btn-primary comment_button" ng-click="addComment()">Add Comment</button></span></div>
      </div>
    </div>

  <div class="row">
    <div class="col-md-3">
      <div ng-if="!statusToCheckIfPublished">
        <input class="btn btn-primary" type="file" file-upload-directive="$parent.files"/>
      </div>
    </div>
    <div class="col-md-3">
      <div ng-if="!statusToCheckIfPublished">
        <button class="btn btn-primary" ng-click="uploadFile()">Upload File</button>
      </div>
    </div>
    <div class="col-md-3 col-md-offset-3" ng-if="teacherEditState">
      <div ng-if="!statusToCheckIfPublished">
        <span class="float_right"><button class="btn btn-primary save_draft_button" ng-click="saveLessonDraft()">Save Draft</button></span>
        <span class="float_right"><button class="btn btn-primary submit_lesson_button" ng-click="teacherSubmitLesson()">Submit Lesson</button></span>
      </div>
    </div>
    <div class="col-md-3 col-md-offset-3" ng-if="adminEditState">
      <div>
        <span  class="float_right" ng-if="needsReviewButton"><button class="btn btn-primary needs_review" ng-click="needsReview()">Needs Review</button></span>
        <span  class="float_right" ng-if="!statusAdminReview"><button class="btn btn-primary save_draft_button" ng-click="saveLessonDraft()">Save Draft</button></span>
        <span  class="float_right" ng-if="!statusToCheckIfPublished"><button class="btn btn-primary submit_lesson_button" ng-click="adminPublishLesson()">Publish Lesson</button></span>
        <span class="float_right" ng-if="removeButton"><button class="btn btn-danger remove_lesson" ng-click="removeLesson()">Remove Lesson</button></span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <!--Displays uploaded image-->
      <img id="uploadedFile" src="" />
    </div>
  </div>

  <!--modal when delete is clicked-->
  <script type="text/ng-template" id="modalDelete.html">
    <div class="modal-header">
      <h3 class="modal-title">Are you sure you want to delete lesson plan?</h3>
    </div>

    <div class="modal-body">
      <button class="btn btn-primary" type="button" ng-click="deleteLessonPlan()">Yes. Delete this lesson plan.</button>
      <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>

    <!--<div class="modal-footer">-->
    <!--<button class="btn btn-primary" type="button" ng-click="ok()">Yes. Delete this lesson plan.</button>-->
    <!--<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>-->
    <!--</div>-->
  </script>

  <!--modal when save draft is clicked-->
  <script type="text/ng-template" id="modalSaveDraft.html">
    <div class="modal-header">
      <h3 class="modal-title">Saved draft on your dashboard!</h3>
    </div>

    <div class="modal-body">
      <button class="btn btn-primary" type="button" ng-click="okaySavedDraft()">Okay</button>
    </div>
  </script>


<!--modal when teacher submits lesson for approval-->
  <script type="text/ng-template" id="modalTeacherSubmit.html">
    <div class="modal-header">
      <h3 class="modal-title">Submit lesson plan for approval?</h3>
    </div>

    <div class="modal-body">
      <button class="btn btn-primary" type="button" ng-click="okaySubmit()">Yes</button>
      <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
  </script>

  <!--modal for when admin publishes lesson-->
  <script type="text/ng-template" id="modalPublish.html">
    <div class="modal-header">
      <h3 class="modal-title">Publish Lesson?</h3>
    </div>

    <div class="modal-body">
      <button class="btn btn-primary" type="button" ng-click="okayPublish()">Yes</button>
      <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
  </script>

  <!--modal for when admin clicks needs-review button-->
  <script type="text/ng-template" id="modalNeedsReview.html">
    <div class="modal-header">
      <h3 class="modal-title">Send lesson back to author for additional review?</h3>
    </div>

    <div class="modal-body">
      <button class="btn btn-primary" type="button" ng-click="okayNeedsReview()">Yes</button>
      <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
  </script>
</div>