<nav class="container" ng-controller="NavController">
    <ul class="nav nav-tabs">
        <li ng-if="adminEditState"><a href="#admin_dash">Home</a></li>
        <li ng-if="teacherEditState"><a href="#teacher_dash">Home</a></li>
        <li ng-if="loggedIn"><a href="#lesson_plan" ng-click="reloadRoute()">Create Lesson Plan</a></li>
        <li ng-if="adminEditState"><a href="#register">Manage Users</a></li>
        <li ng-if="loggedIn"><a href="#search">Search</a></li>
        <li ng-if="loggedIn"><a href="" ng-click="logout()">Logout</a></li>
    </ul>
</nav>