<nav class="container">
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <ul class="nav navbar-nav"><li><a href="#admin_dash">Admin Dashboard</a></li></ul>
            <ul class="nav navbar-nav"><li><a href="#teacher_dash">Teacher Dashboard</a></li></ul>
            <ul class="nav navbar-nav"><li><a href="#lesson_plan">Lesson Plan</a></li></ul>
            <ul class="nav navbar-nav"><li><a href="#register">Create User</a></li></ul>
            <ul class="nav navbar-nav"><li><a href="#search">Search</a></li></ul>
            <ul class="nav navbar-nav"><li><a href="#home">Logout</a></li></ul>
        </div>
    </div>
</nav>