<div class="container">
    <div class="login-logo-box">
        <div class="logo">
            <img src="/images/Bet_Shalom_Transparent_Logo.png" height="300px">
        </div>
        <form class="login">
            <h3>{{username}}</h3>
            <input type="password" class="form-control login-password-field" ng-model="password" placeholder="Password" autofocus="" />
            <input type="password" class="form-control login-password-field" ng-model="password1" placeholder=" Verify Password" />
            <button class="btn btn-lg btn-primary btn-block login-button" ng-click="updatePassword(username, password)" type="submit">Submit</button>
        </form>
    </div>
</div>

<script type="text/ng-template" id="modalPasswordMatch.html">
    <div class="modal-header">
        <h3 class="modal-title">Passwords do not match!</h3>
    </div>

    <div class="modal-body">
        <button class="btn btn-primary" type="button" ng-click="okay()">Okay</button>
    </div>
</script>

<script type="text/ng-template" id="modalPasswordUpdated.html">
    <div class="modal-header">
        <h3 class="modal-title">New password set!</h3>
    </div>

    <div class="modal-body">
        <button class="btn btn-primary" type="button" ng-click="okay()">Okay</button>
    </div>
</script>