<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div><h3>Manage Users</h3></div>
            <div class="form-group"><label for="selectedName">Existing Users</label><select class="form-control" ng-model="selectedName" ng-options="person.users_id as person.last_name + ', ' + person.first_name for person in getNames" ng-change="getInfo()">Select Person</select></div>
            <div class="form-group"><label for="username">Username/Email:</label><input class="form-control" type="text" ng-model="username"></div>
            <!--<div class="form-group"><label for="password">Password:</label><input class="form-control" type="password" ng-model="password"></div>-->
            <div class="radio"><label for="admin"><input class="resource_lesson_radio" type="radio" ng-model="role" value="admin">Admin</label></div>
            <div class="radio"><label for="teacher"><input class="resource_lesson_radio" type="radio" ng-model="role" value="teacher">Teacher</label></div>
            <div class="form-group"><label for="first_name">First Name:</label><input class="form-control" type="text" ng-model="first_name"></div>
            <div class="form-group"><label for="last_name">Last Name:</label><input class="form-control" type="text" ng-model="last_name"></div>
            <div class="form-group"><label for="phone">Phone:</label><input class="form-control" type="text" ng-model="phone"></div>
            <div class="form-group">
                <label for="grade">Grade:</label>
                <select class="form-control" type="text" ng-model="grade">
                    <option value="admin">Admin</option>
                    <option value="pre-k">Pre-K</option>
                    <option value="k">Kindergarten</option>
                    <option value="1st">1st</option>
                    <option value="2nd">2nd</option>
                    <option value="3rd">3rd</option>
                    <option value="4th">4th</option>
                    <option value="5th">5th</option>
                    <option value="6th">6th</option>
                    <option value="7th">7th</option>
                    <option value="8th">8th</option>
                </select>
            </div>
            <div><button class="btn btn-primary" type="button" ng-click="saveUser()">Submit</button></div>
            <div><button class="btn login-password-field btn-danger" type="button" ng-click="removeUser()">Remove User</button></div>
        </div>

        <div class="col-md-7 col-md-offset-1">
            <img src="/images/Bet_Shalom_Transparent_Logo.png" width="400px" class="register_page_logo" />
        </div>
    </div>
</div>

<!--modal for when no tags are added-->
<script type="text/ng-template" id="modalRemoveUser.html">
    <div class="modal-header">
        <h3 class="modal-title">Remove user?</h3>
        <h2>{{username}}</h2>
    </div>

    <div class="modal-body">
        <button class="btn btn-primary" type="button" ng-click="okay()">Okay</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>