<div class="container">
    <div class="login-logo-box">
        <div class="logo">
            <img src="/images/Bet_Shalom_Transparent_Logo.png" height="300px">
        </div>
        <form class="login">
            <input type="text" class="form-control login-password-field" ng-model="username" placeholder="Email Address" autofocus="" />
            <button class="btn btn-lg btn-primary btn-block login-button" ng-click="resetPass(username)" type="submit">Reset Password</button>
        </form>
    </div>
</div>