<div class="container">
    <h2>Search</h2>
    <div class="form-group">
        <select ng-model="selectedTag" ng-change="searchTag()" ng-options="keyword.tag_id as keyword.tag_name for keyword in keyTags">
            <option value="">Select Tag</option>
        </select>
        <select ng-model="selectedTag2" ng-change="filterTag()" ng-options="keyword.tag_id as keyword.tag_name for keyword in keyTags">
            <option value="">Select Tag</option>
        </select>
    </div>

    <div class="jumbotron">
        <table class="table"><thead><tr><th>Select</th><th>Title</th><th>Author</th><th>Published</th><th>Materials needed</th><th>Resource</th></tr></thead><tbody ng-repeat="plan in viewLesson"><tr><td><button class="btn btn-primary" ng-click="editClickedLesson($index)">Select Me</button></td><td>{{plan.title}}</td><td>{{plan.author}}</td><td>{{plan.published | date}}</td><td ng-show="plan.materials == true"><span class="glyphicon green glyphicon-ok"></span></td><td ng-show="plan.materials == false"><span class="glyphicon red glyphicon-remove"></span></td><td ng-show="plan.resource == true"><span class="glyphicon green glyphicon-ok"></span></td><td ng-show="plan.resource == false"><span class="glyphicon red glyphicon-remove"></span></td></tr></tbody></table>
    </div>

</div>
