<div class="container">
    <div class="jumbotron">
        <h3>Welcome {{loggedInUser.first_name}} {{loggedInUser.last_name}}</h3>
    </div>

    <div class="col-md-5">
        <h4>My created lessons</h4>
        <table class="table"><thead><tr><th>Select</th><th>Title</th><th>Author</th><th>Status</th><th>Published</th><th>Materials needed</th></tr></thead><tbody ng-repeat="lesson in lessonPlans"><tr><td><button class="btn btn-primary" ng-click="editClickedLesson($index)">Select Me</button></td><td>{{lesson.title}}</td><td>{{lesson.author}}</td><td>{{lesson.status}}</td><td>{{lesson.published | date}}</td><td ng-show="lesson.materials == true"><span class="glyphicon green glyphicon-ok"></span></td><td ng-show="lesson.materials == false"><span class="glyphicon red glyphicon-remove"></span></td></tr></tbody></table>
    </div>

    <div class="col-md-7">
        <h4>My favorites <i class="fa yellow fa-star"></i></h4>
        <table class="table"><thead><tr><th>Select</th><th>Title</th><th>Author</th><th>Published</th><th>Materials needed</th><th>Resource</th></tr></thead><tbody ng-repeat="lesson in favoritePlans"><tr><td><button class="btn btn-primary" ng-click="editClickedFav($index)">Select Me</button></td><td>{{lesson.title}}</td><td>{{lesson.author}}</td><td>{{lesson.published | date}}</td><td ng-show="lesson.materials == true"><span class="glyphicon green glyphicon-ok"></span></td><td ng-show="lesson.materials == false"><span class="glyphicon red glyphicon-remove"></span></td><td ng-show="lesson.resource == true"><span class="glyphicon green glyphicon-ok"></span></td><td ng-show="lesson.resource == false"><span class="glyphicon red glyphicon-remove"></span></td></tr></tbody></table>
    </div>
</div>