body {
    /*background-color: #2aabd2;*/
}

textarea {
    resize: none;
}

.green {
    color: green;
}

.red {
    color: red;
}

.center {
    text-align: center;
}

.lesson_plan_container {
    /*margin: 0 auto;*/
}

.teacher_buttons_div {
    /*text-align: center;*/
}

.admin_button_container {
    margin: 0.4rem auto
}
