body {
    background-color: lightgray;
}

textarea {
    resize: none;
}

.green {
    color: green;
}

.red {
    color: red;
}

.yellow {
    color: gold;
}

.center {
    text-align: center;
}

.lesson_plan_container {
    /*margin: 0 auto;*/
}

.teacher_buttons_div {
    /*text-align: center;*/
}

.admin_button_container {
    margin: 0.4rem auto
}

.lesson_title_displayed {
    font-size: 3rem;
    font-weight: 700;
}

.resource_lesson_radio {
    cursor: default !important;
}

#lesson_materials {
    cursor: text !important;
}

.no_gray {
    background-color: #cbebff !important;
}

#lesson_text {
    cursor: text !important;
}

.materials_checkbox {
    cursor: default !important;
}

.fa-star {
    font-size: 35px;
}

.fa-star-o {
    font-size: 35px;
}

.fa-star-o:hover {
    font-size: 35px;
    color: gold;
}

.starr {
    width: 40px;
    height: 40px;
}
