/*######## colors from mood board ########*/
/*color: #2b1913;*/
/*color: #796f64;*/
/*color: #cfc8c6;*/
/*color: #b67434;*/
/*color: #bfd5ed;*/



body {
    background-color: #cfc8c6;
    /*background-color: #796f64;*/

    /*#bfd5ed*/
}

textarea {
    resize: none;
}

table {
    table-layout: fixed;
}

tr td {
    width: 3%;
    /*word-break: break-all;*/

    word-wrap:break-word;
    text-overflow: ellipsis;
}

/*.select-lesson-btn{*/
    /*width: 20%;*/
/*}*/

.jumbotron {
    /*border: 4px solid #b67434 ;*/
    background-color: #bfd5ed;

}

.navbar {
    /*border: 4px solid #006dcc;*/
    /*background-color: #006dcc;*/
    /*color: #ffffff;*/
    /*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);*/
    /*background-color: #0066cc;*/
    /**background-color: #0044cc;*/
    /*background-image: -moz-linear-gradient(top, #0088cc, #0044cc);*/
    /*background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));*/
    /*background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);*/
    /*background-image: -o-linear-gradient(top, #0088cc, #0044cc);*/
    /*background-image: linear-gradient(to bottom, #0088cc, #0044cc);*/
    /*background-repeat: repeat-x;*/
    /*border-color: #0044cc #0044cc #002a80;*/
    /*border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);*/
}

.green {
    color: green;
}

.red {
    color: red;
}

.yellow {
    color: gold;
}

.favorites-lesson-plans {
    border-left: 1px dashed #333;

}

.lessons-created-by-user {
    /*border-right: 1px dashed #333;*/

}

.center {
    text-align: center;
}

.lesson_plan_container {
    /*margin: 0 auto;*/
}

.teacher_buttons_div {
    /*text-align: center;*/
}

.admin_button_container {
    margin: 0.4rem auto
}

.lesson_title_displayed {
    font-size: 3rem;
    font-weight: 700;
}

.resource_lesson_radio {
    cursor: default !important;
}

#lesson_materials {
    cursor: text !important;
}

.no_gray {
    background-color: #bfd5ed !important;
}

#lesson_text {
    cursor: text !important;
}

.materials_checkbox {
    cursor: default !important;
}

.modal-body {
    text-align: center;
}

.modal-header {
    text-align: center;
}

.fa-star {
    font-size: 35px;
}

.fa-star-o {
    font-size: 35px;
}

.fa-star-o:hover {
    font-size: 35px;
    color: gold;
}

.starr {
    width: 40px;
    height: 40px;
}

.nav-color {
    background-color: lightgrey;
}

#file_upload {
    display: inline;
}

#file_input {
    margin-top: 10px;
    margin-bottom: 10px;
}

.logo {
    text-align: center;
    padding-top: 110px;
    padding-bottom: 20px;
}